* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#cart {
  position: fixed;
  height: 90.3vh;
  right: 0;
  top: 58px;
  padding: 10px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

#cart::-webkit-scrollbar {
  display: none;
}